# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  DOCKER_IMG_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/gitaction
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Make gradlew excutable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: build

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker img build & Dockerhub push
      run: |
        docker image build -t ${DOCKER_IMG_NAME}:${GITHUB_SHA::7} .
        docker push ${DOCKER_IMG_NAME}:${GITHUB_SHA::7}

    - name: Docker Deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ubuntu
        key: ${{ secrets.PRIVATE_KEY }}
#        passphrase: ${{ secrets.PASSPHRASE }}
        envs: GITHUB_SHA,DOCKER_IMG_FULL_NAME
        script: |
          echo -e \
          "$DOCKER_IMG_FULL_NAME
          $GITHUB_SHA" \
          > env.txt
          yes | docker image prune -a
          docker pull $DOCKER_IMG_FULL_NAME:${GITHUB_SHA::7}
          
